* {
	margin: 0;
	padding: 0;
		
	}
	
body {
	background-color: #fff;
	width: 1920;
	height: 1080;
	
}
.nome {
	position: fixed;
	background: #4d5bf5;
	height: 135px;
	width: 100%;
	
	
	
}
	
ion-icon {
	color: white;
	font-size: 10vh;
	position: fixed;
	top: 3vh;
	left: 70vh;
	
}
span strong {
	color: white;
	font-size: 10vh;
	position: fixed;
	left: 750px;
	top: 2vh;
	
}
.red {
	position: absolute;
	top: 140px;
	bottom: 640px;
	width: 90%;
	margin: 0px 0px 0px 90px;
	background-color: red;
	float: right;
}

.testado {
	color: white;
	font-size: 120px;
	position: fixed;
	bottom: 650px;
	left: 80vh;
	text-decoration: line-through;
		
}
	

