body {
    background-image: linear-gradient(180deg, #e5f6f7, #ffe4e4);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}



main{
    width: 100%;
    max-width: 600px;
    margin: auto;
    
}

.pi, header {
    margin: auto;
    text-align: center;
    width: 100%;
}

p{    
    margin: auto;
}

a {
    text-decoration: none;
    color: black;

}

a:checked {
    color: black;
}