#img{
    object-fit: cover;
}
#picture{
    width: 100%;
}
main{
    background-color: #0099FF11;
}
#ps{
    text-align: center;
}
h2{
    text-shadow: 3px 3px 3px white;
}
header{
    text-align: center;
}